nav(class="navbar navbar-expand-lg navbar-dark  mb-3")
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse justify-content-center" id="navbarNav")
        ul.navbar-nav.menu
            li.nav-item
                a.nav-link(name="post") Posts
            li.nav-item.active
                a.nav-link(name="done")  Done posts
            li.nav-item
                a.nav-link(name="favorites")  Favorites news

